.emailactivities{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 20px;
  width: 100%;
}

.emailcheckbox{
  display: flex;
  margin-right: 20px;
}
input[type='checkbox'] {
  transform: scale(1.3);
  border: 1px solid grey;
}

.refresh-moreicon{
  display: flex;
  margin-right: 700px;
}

.refreshicon{
  margin-right: 15px;
}